@use '../../styles/variables'
@use '../../styles/mixins'

.footerContainer 
  background-color: variables.$secundary-09
  color: variables.$bg-color
  padding: 1rem 0
  width: 100%
  display: flex
  justify-content: center
  align-items: center

  .footerContent 
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    padding: 0 1rem
    text-align: center
    @include mixins.phone
      flex-direction: column
      align-items: center
    @include mixins.tablet
      flex-direction: column
      align-items: center
    @include mixins.desktop
      flex-direction: row
      justify-content: space-between
      align-items: center
      text-align: left
      
    .logo 
      width: 80px
      margin-bottom: 1rem
      display: none
      @include mixins.tablet
        margin-bottom: 0

    .socialIcons 
      display: flex
      justify-content: center
      align-items: center
      gap: 1rem
      margin: 1rem 0
      @include mixins.tablet
        margin-left: 18rem
        margin: 0
      @include mixins.desktop
        margin-left: 0
        gap: 1rem

      & a
        color: variables.$grena-bg-principal
        width: 42px
        height: 42px
        background: rgba(248, 244, 244, 0.188)
        display: inline-flex
        justify-content: center
        align-items: center
        border-radius: 50%
        margin-right: 2rem
        line-height: 1
        border: 1px solid rgba(255, 255, 255, 0.3)

      & a::before
        content: ""
        width: 42px
        height: 42px
        position: absolute
        background-color: #ffffff24
        border-radius: 50%
        transform: scale(1)
        transition: 0.3s ease-in-out

        & a:hover::before
          transform: scale(1)

      .socialIcon 
        font-size: 1.8rem
        color: variables.$grena-bg-principal
        transition: color 0.3s
        
        &:hover 
          color: variables.$bg-color

    .footerBottom 
      p
        margin: 0
        font-size: 1.2rem
        color: variables.$bg-color
        font-weight: 600
        
        @include mixins.tablet
        font-size: 1rem
        margin-top: 1rem
        width: 100%



